{% extends 'base.html' %}
{% block title %}Home | JPTV Media{% endblock %}
{% block content %}

<section>
  <div class="container">
  </div>

</section>
<section>
  <div class="container">
    <div class="row">
      <h2>Test Modal</h2>
    </div>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal"> Launch modal
        (static) </button>

      Launch demo modal
      </button>
    </div>
  </div>
</section>


<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="ratio ratio-16x9">
          <iframe src="//www.youtube.com/embed/KpllAjxOIUU?enablejsapi=1&autoplay=1" type="text/html"
            id="staticPlayer"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>









{% for project in projects %}
<!-- Bootstrap Modal for Each Video -->
<div class="modal fade" id="videoModal{{ loop.index }}" tabindex="-1" aria-labelledby="videoModalLabel{{ loop.index }}"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" style="max-width: 1000px; ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ project.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0" style="height: calc(100% - 56px);">
        <iframe
          src="{% if 'youtube.com' in project.video_link %}{{ project.video_link | replace('watch?v=', 'embed/') }}{% elif 'vimeo.com' in project.video_link %}{{ project.video_link | replace('vimeo.com/', 'player.vimeo.com/video/') }}{% else %}{{ project.video_link }}{% endif %}"
          style="width: 100%; height: auto;" frameborder="0" allowfullscreen allow="autoplay"></iframe>

      </div>
    </div>
  </div>
</div>

{% endfor %}






<!-- Video Gallery Section -->
<section>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
      <div class="video-card">
        <a href="#" data-bs-toggle="modal" data-bs-target="#videoModal{{ loop.index }}">
          <img src="{{ url_for('static', filename=project.thumbnail or 'images/thumbnails/fallback_thumbnail.jpg') }}"
            alt="{{ project.title }}" class="img-fluid video-thumbnail">
          <div class="video-overlay p-2">
            <span class="video-title">{{ project.title }}</span><br>
            {% if project.video_link %}
            <i class="bi bi-play-circle fs-1 fs-sm-2 fs-md-3 fs-lg-4 fs-xl-5" data-bs-toggle="modal"
              data-bs-target="#videoModal{{ loop.index }}"></i><br>
            {% endif %}

            <small>
              {% if project.production_company.name and project.production_company.link %}
              <a href="{{ project.production_company.link }}" target="_blank">{{ project.production_company.name
                }}</a><br>
              {% endif %}
              {% if project.client.name and project.client.link %}
              <a href="{{ project.client.link }}" target="_blank">{{ project.client.name }}</a><br>
              {% endif %}
              {% if project.director.name and project.director.link %}
              Dir. <a href="{{ project.director.link }}" target="_blank">{{ project.director.name }}</a><br>
              {% endif %}
              {% if project.agency.name and project.agency.link %}
              <a href="{{ project.agency.link }}" target="_blank">{{ project.agency.name }}</a>
              {% endif %}
            </small>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}


  </div>
</section>








<!-- Scope Section (New Header & Off-White Background) -->
<section>
  <div class="container text-dark" style="background-color: #f8f9fa">
    <h2 class="text-center">SCOPE</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <h4>PRE-PRODUCTION</h4>
        <h5><u>Communicate Client Needs</u></h5>
        <p>Budget / Bid</p>
        <p>Propose Directors</p>
        <p><strong>Source</strong> + <strong>Recommend</strong>: Creative Heads <i>(DP's, Art Directors, etc..)</i></p>
        <p><strong>Source</strong>: Specialists <i>(Steadicam, Puppeteers, Animal Handlers, etc)</i> </p>
        <p>Handle Logistics</p>
        <p>Location Scouting</p>
        <p>Hire Crew</p>
        <p>Source Equipment</p>
        <p>Hire Crew</p>
        <p>Casting</p>
        <p>Pre-Production Books</p>
        <p>Travel Coordination</p>
        <p><i>Schedule, Fixers, Etc,</i>S</p>
      </div>
      <div class="col-md-4">
        <h4>PRODUCTION</h4>
        <h5><u>Communicate Client Needs</u></h5>
        <p>AICP, DGA, SAG, IATSE friendly</p>
        <p>Non-Union Friendly </p>
        <p>Outer Market Familiar</p>
        <p>Motion // Stills</p>
        <p>Line Produce/ Manage/Coordinate/ Production /Set Safety</p>
        <p>Safety Cautious</p>
        <p>Analog // Digital</p>
        <p>Film: 16mm, 35mm</p>
        <p>Digital: Arri, Red, Sony, 4:4:4, 4:2:2</p>
        <p>Drones, Cranes, Quads, Condors, Steadicams, Process Trailers</p>
        <p>Execute Deliverables</p>
      </div>
      <div class="col-md-4">
        <h4>POST-PRODUCTION</h4>
        <h5><u>Communicate Client Needs</u></h5>
        <p>Payroll Services</p>
        <p>Actualize in ShowBiz, Hotbudget , Point Zero</p>
        <p>Facilitate Post Crew</p>
        <p>Voice Actors</p>
        <p>Picture Lock</p>
        <p>Sound Sync</p>
        <p>Color Grade</p>
        <p>Transcode For Broadcast</p>
        <p>Put a bow on it</p>
      </div>
    </div>
  </div>
</section>




{% endblock %}