{% extends 'base.html' %}
{% block title %}Home | JPTV Media{% endblock %}
{% block content %}

<!-- Hero Section: Video Background -->
<section class="hero-section">
  <div class="hero">
    <video autoplay loop muted playsinline class="background-video">
      <source src="{{ url_for('static', filename='videos/background_video.mp4') }}" type="video/mp4">
    </video>
    <!-- <img src="{{ url_for('static', filename='images/subtitles.gif') }}" class="overlay-text"> -->
  </div>
</section>


<!-- About Section -->
<section>
  <div class="container row m-5">
    <div class="col-md-6">
      <h2><strong>Bottom-Up Productivity, Top-Down Creativity.</strong></h2>
    </div>
    <div class="col-md-6">
      <p>Hi! I'm a freelance Line Producer & PM. I work across the board in different scales and scopes, and I'm
        available anywhere in the U.S.</p>
      <p><a href="mailto:josh@jpax.tv?subject=Hi!" target="_blank">josh@jpax.tv</a></p>
      <p class="text-danger">Please Note: I am not accepting gig work at this time, but I’m open to
        conversations &
        inquiries.</p>
    </div>
  </div>
</section>

<!-- Bootstrap Modal for Each Video -->
{% for project in projects %}
<div class="modal fade" id="videoModal{{ loop.index }}" tabindex="-1" aria-labelledby="videoModalLabel{{ loop.index }}"
  onclick="event.preventDefault();" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ project.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <!-- Use Bootstrap's ratio helper -->
        <div class="ratio ratio-16x9">


          {% set video_src = project.video_link %}
          {% if 'youtube.com' in project.video_link %}
          <!-- + '?rel=0&autoplay=1' &mute=1 -->
          {% set video_src = project.video_link.replace('watch?v=', 'embed/') + '?rel=0' %}
          {% elif 'vimeo.com' in project.video_link %}
          {% if 'player.vimeo.com' not in project.video_link %}
          {% set video_src = project.video_link | replace('vimeo.com/', 'player.vimeo.com/video/') %}
          {% endif %}
          {% endif %}


          <iframe src="{{ video_src }}" allowfullscreen allow="autoplay; fullscreen picture-in-picture" scrolling="no"
            frameborder="0" muted>
          </iframe>



        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  document.querySelectorAll('.modal').forEach(modal => {
    modal.addEventListener('hidden.bs.modal', function () {
      const iframe = this.querySelector('iframe');
      if (iframe) {
        iframe.src = iframe.src; // Reset the iframe source to stop the video
      }
    });
  });




</script>
<!-- Video Gallery Section -->
<section>


  <div class="content-wrapper">
    <div class="row g-3">
      <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3"> --> <!-- @delete -->
      {% for project in projects %}
      <div class="col-12 col-sm-6 col-lg-4">
        <!-- <div class="col-md-4 mb-4"> --> <!-- @delete -->
        <div class="video-card">
          <a href="#" data-bs-toggle="modal" data-bs-target="#videoModal{{ loop.index }}">
            <div class="thumbnail-wrapper">
              <img
                src="{{ url_for('static', filename=project.thumbnail or 'images/thumbnails/fallback_thumbnail.jpg') }}"
                alt="{{ project.title }}" class="img-fluid video-thumbnail rounded">
              <div class="video-overlay p-2">
                <span class="video-title">{{ project.title }}</span><br>
                {% if project.video_link %}
                <i class="bi bi-play-circle fs-1 fs-sm-2 fs-md-3 fs-lg-4 fs-xl-5" data-bs-toggle="modal"
                  data-bs-target="#videoModal{{ loop.index }}"></i><br>
                {% endif %}

                <small>
                  {% if project.production_company.name and project.production_company.link %}
                  <a href="{{ project.production_company.link }}" target="_blank">{{
                    project.production_company.name
                    }}</a><br>
                  {% endif %}
                  {% if project.client and project.client.name and project.client.link %}
                  <a href="{{ project.client.link }}" target="_blank">{{
                    project.client.name }}</a><br>
                  {% endif %}
                  {% if project.director and project.director.name and project.director.link %}
                  Dir. <a href="{{ project.director.link }}" target="_blank">{{
                    project.director.name }}</a><br>
                  {% endif %}
                  {% if project.agency and project.agency.name and project.agency.link %}
                  <a href="{{ project.agency.link }}" target="_blank">{{
                    project.agency.name }}</a>
                  {% endif %}
                </small>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- Scope Section (New Header & Off-White Background) -->
<section>
  <div class="container text-dark p-1" style="background-color: #f8f9fa">
    {% set prepro_items = [
    "Budget / Bid",
    "Propose Directors",
    "Source Creative Heads",
    "Location Scouting",
    "<strong>Source</strong> + <strong>Recommend</strong>: Creative Heads <i>(DP's, Art Directors, etc..)</i>",
    "<strong>Source</strong>: Specialists <i>(Steadicam, Puppeteers, Animal Handlers, etc)</i>",
    "Hire Crew",
    "Source Equipment",
    "Casting",
    "Pre-Production Books",
    "Travel Coordination"
    ] %}

    {% set pro_items = [
    "AICP, DGA, SAG, IATSE friendly",
    "Non-Union Friendly",
    "Outer Market Familiar",
    "Motion // Stills",
    "Line Produce/ Manage/Coordinate/ Production",
    "Safety Cautious",
    "Analog // Digital",
    "Film: 16mm, 35mm",
    "Digital: Arri, Red, Sony, 4:4:4, 4:2:2",
    "Drones, Cranes, Quads, Condors, Steadicams, Process Trailers, etc.",
    "Execute Deliverables",
    ] %}
    {% set post_items = [
    "Payroll Services",
    "Actualize in ShowBiz, Hotbudget , Point Zero, etc,.",
    "Facilitate Post Crew",
    "Voice Actors",
    "Picture Lock",
    "Sound Sync",
    "Color Grade",
    "Transcode For Broadcast",
    "Put a bow on it",
    ] %}

    <h2 class="text-center">SCOPE</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <h4>PRE-PRODUCTION</h4>
        <h5><u>Communicate Client Needs</u></h5>
        <ul class="list-unstyled text-start ps-3">
          {% for item in prepro_items %}
          <li>{{ item | safe }}</li>
          {% endfor %}
        </ul>


      </div>
      <div class="col-md-4">
        <h4 class="fs-3 fs-md-4 fs-sm-5">PRODUCTION</h4>
        <h5 class="fs-3 fs-md-4 fs-sm-5"><u>Communicate Client Needs</u></h5>
        <ul class="list-unstyled text-start ps-3">
          {% for item in pro_items %}
          <li class="">{{ item }}</li>
          {% endfor %}
        </ul>


      </div>
      <div class="col-md-4">
        <h4>POST-PRODUCTION</h4>
        <h5><u>Communicate Client Needs</u></h5>
        <ul class="list-unstyled text-start ps-3 ">
          {% for item in post_items %}
          <li class="">{{ item }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</section>

<section style="background-color: #f8f9fa">



  {% include 'includes/contact_info.html' %}


  <!-- </div> -->
</section>


{% endblock %}